# dependencies
node_modules/

# build outputs
dist/
ui/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# dotenv
.env
.env.*

# vite
ui/.vite/

# TypeScript cache
*.tsbuildinfo

# misc
coverage/
